.bg-light {
  background-image: linear-gradient(
      45deg,
      rgb(240, 99, 99) 0%,
      rgb(240, 99, 99) 11%,
      rgb(230, 115, 107) 11%,
      rgb(230, 115, 107) 24%,
      rgb(220, 132, 114) 24%,
      rgb(220, 132, 114) 29%,
      rgb(210, 148, 122) 29%,
      rgb(210, 148, 122) 45%,
      rgb(199, 164, 129) 45%,
      rgb(199, 164, 129) 87%,
      rgb(189, 181, 137) 87%,
      rgb(189, 181, 137) 90%,
      rgb(179, 197, 144) 90%,
      rgb(179, 197, 144) 100%
    ),
    linear-gradient(
      67.5deg,
      rgb(240, 99, 99) 0%,
      rgb(240, 99, 99) 11%,
      rgb(230, 115, 107) 11%,
      rgb(230, 115, 107) 24%,
      rgb(220, 132, 114) 24%,
      rgb(220, 132, 114) 29%,
      rgb(210, 148, 122) 29%,
      rgb(210, 148, 122) 45%,
      rgb(199, 164, 129) 45%,
      rgb(199, 164, 129) 87%,
      rgb(189, 181, 137) 87%,
      rgb(189, 181, 137) 90%,
      rgb(179, 197, 144) 90%,
      rgb(179, 197, 144) 100%
    ),
    linear-gradient(
      135deg,
      rgb(240, 99, 99) 0%,
      rgb(240, 99, 99) 11%,
      rgb(230, 115, 107) 11%,
      rgb(230, 115, 107) 24%,
      rgb(220, 132, 114) 24%,
      rgb(220, 132, 114) 29%,
      rgb(210, 148, 122) 29%,
      rgb(210, 148, 122) 45%,
      rgb(199, 164, 129) 45%,
      rgb(199, 164, 129) 87%,
      rgb(189, 181, 137) 87%,
      rgb(189, 181, 137) 90%,
      rgb(179, 197, 144) 90%,
      rgb(179, 197, 144) 100%
    ),
    linear-gradient(90deg, rgb(156, 174, 7), rgb(129, 53, 44));
  background-blend-mode: overlay, overlay, overlay, normal;
}

.bg-dark {
  background-image: linear-gradient(
      112.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(
      135deg,
      rgb(214, 214, 214) 0%,
      rgb(214, 214, 214) 10%,
      rgb(195, 195, 195) 10%,
      rgb(195, 195, 195) 53%,
      rgb(176, 176, 176) 53%,
      rgb(176, 176, 176) 55%,
      rgb(157, 157, 157) 55%,
      rgb(157, 157, 157) 60%,
      rgb(137, 137, 137) 60%,
      rgb(137, 137, 137) 88%,
      rgb(118, 118, 118) 88%,
      rgb(118, 118, 118) 91%,
      rgb(99, 99, 99) 91%,
      rgb(99, 99, 99) 100%
    ),
    linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
  background-blend-mode: overlay, overlay, overlay, normal;
}
